<section class="dashboard-body">
  <div class="container-fluid">
    <div class="card-deck">
      <a href="/dashboard/lists">
        <div class="card" id="list-card">
          <div class="card-img-caption">
            <p class="card-title">Your Wishlist</p>
            <img class="card-img" id="group-img" src="/stylesheets/images/presents.jpg">
          </div>
        </div>
      </a>
    </div>
  </div>
</section>